In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [20]:
data = pd.read_csv('../data/market_data.csv', index_col='Time', parse_dates=['Time'])
contract = np.arange(1, len(data) +1)
data['Contract'] = contract
data = data[['Contract', 'Open', 'High', 'Low', 'Close', 'Volume']]
data.head()

                     Contract      Open     High       Low     Close  Volume
Time
2026-01-07 23:31:18         1  91196.77  91231.9  90873.08  91127.17   81276
2026-01-07 23:31:19         2  91196.77  91231.9  90873.08  91127.16   81277
2026-01-07 23:31:20         3  91196.77  91231.9  90873.08  91127.17   81281
2026-01-07 23:31:21         4  91196.77  91231.9  90873.08  91127.16   81282
2026-01-07 23:31:23         5  91196.77  91231.9  90873.08  91132.17   81481